.basket{
position: fixed;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 70rem;
   max-width: 95%;
   animation: show 500ms ease-in-out;
}

@keyframes show {
   from {
      top: 10%;
      opacity: 0;
   }

   to {
      top: 40%;
      opacity: 1;
   }
}

.bascet-close{

}

.item{
margin: 0;
font-size: 1rem;
font-weight: 500;
}
.close{

margin-right: 0.2rem;
}
.color-close{
color: #000;
   font-weight: 600;
}

.increment,
.decrement {
   font-size: 1rem;
   color: #000;
   font-weight: 800;
   border-radius: 50%;
   cursor: pointer;
   margin: 0 0.6rem;
}

